<form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value)" novalidate class="grid-container">
    <header class="grid-x grid-padding-x grid-padding-y">
        <div class="menu-header small-12 text-center">Add Dish</div>
    </header>
    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="menu-item-card medium-6 cell">
            <img src="{{addForm.get('imgUrl').value}}">
        </div>
        <div class="menu-item-card-info medium-6">

            <div class="grid-x grid-padding-x">

                <md-form-field class="small-12 cell">
                    <input type="text" mdInput id="title-input" formControlName="name" placeholder="name" required>
                    <md-error *ngIf="addForm.controls['name'].invalid && addForm.controls['name'].errors.minlength">
                        Name must be at least 4 characters long
                    </md-error>
                    <md-error *ngIf="addForm.controls['name'].invalid && addForm.controls['name'].errors.maxlength">
                        Name must be no more than 50 characters long
                    </md-error>
                    <md-error *ngIf="addForm.controls['name'].invalid && addForm.controls['name'].errors.required">
                        Name is <strong>required</strong>
                    </md-error>
                    <md-hint *ngIf="!addForm.controls['name'].invalid" align="start">
                        <strong>Name is valid</strong>
                    </md-hint>
                </md-form-field>

                <md-form-field class="small-12 cell">
                    <input type="number" mdInput id="price-input" formControlName="price" placeholder="price" required>
                    <md-error *ngIf="addForm.controls['price'].invalid && addForm.controls['price'].hasError('badPrice') && !addForm.controls['price'].errors.required">
                        Price must be > 0
                    </md-error>
                    <md-error *ngIf="addForm.controls['price'].invalid && addForm.controls['price'].errors.required">
                        Price is <strong>required</strong>
                    </md-error>
                    <md-hint *ngIf="!addForm.controls['price'].invalid" align="start">
                        <strong>Price is valid</strong>
                    </md-hint>
                </md-form-field>

                <md-form-field class="small-12 cell">
                    <input mdInput id="from-input" [mdDatepicker]="pickerDateFrom" [min]="minDate" (dateInput)="onInput($event)" formControlName="dateFrom" placeholder="Choose a date from" required>
                    <md-datepicker-toggle mdSuffix [for]="pickerDateFrom"></md-datepicker-toggle>
                    <md-datepicker #pickerDateFrom startView="day" [startAt]="startDate"></md-datepicker>
                    <md-error *ngIf="addForm.controls['dateFrom'].invalid && addForm.controls['dateFrom'].errors.required">
                        this date is <strong>required</strong>
                    </md-error>
                    <md-hint *ngIf="!addForm.controls['dateFrom'].invalid" align="start">
                        <strong>this date is valid</strong>
                    </md-hint>
                </md-form-field>

                <md-form-field class="small-12 cell">
                    <input mdInput id="to-input" [mdDatepicker]="pickerDateTo" [min]="minDate" [max]="maxDate" formControlName="dateTo" placeholder="Choose a date to" required>
                    <md-datepicker-toggle mdSuffix [for]="pickerDateTo"></md-datepicker-toggle>
                    <md-datepicker #pickerDateTo startView="day" [startAt]="startDate"></md-datepicker>
                    <md-error *ngIf="addForm.controls['dateTo'].invalid && addForm.controls['dateTo'].errors.required">
                        this date is <strong>required</strong>
                    </md-error>
                    <md-hint *ngIf="!addForm.controls['dateFrom'].invalid" align="start">
                        <strong>this date is valid</strong>
                    </md-hint>
                </md-form-field>

                <div class="button-group expanded small-12 cell">
                    <button class="submit button" (click)="goBack()">Back</button>
                    <button type="submit" class="success button" [disabled]=addForm.invalid>Add</button>
                </div>
            </div>
        </div>
    </div>
</form>